@font-face {
  font-family: sofia;
  src: url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
}





.homeImg{
  justify-content: center;
  align-items: center;
   max-width: 80%;
   padding: 5rem 3rem;
   display: flex;
   border-radius: 2px;
   margin-top:0rem;
  margin-bottom: 0rem;
  margin-left: 8rem;
  margin-right: 8rem;
}
body {
  background: #F0F0F0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  border-radius: 1px;
  flex-flow: row wrap;
}

.card-container:hover .card {
  opacity: .7;
  cursor: pointer;
  filter: grayscale(1);
}

.card-container .card {
  margin: 10px;
  width: calc(100% / 3 - 20px);
  float: left;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, .05);
  background: #FFF;
  -webkit-transition: .3s all ease;
  transition: .15s all ease;
  border-radius:1rem;
}

.card-container .card:hover {
  box-shadow: 0 0 8px 3px rgba(0, 0, 0, .15);
  transform: scale(1.025);
  opacity: 1;
  filter: grayscale(0);
  transition: .35s all ease;
}

.card-container .card img {
  width: 100%;
  padding: 0;
  margin: 0;
}

.card-container .card .content {
  padding: 15px 20px;
}

.card-container .card h3 {
  font: 2.8rem/3.4rem 'sans-serif', serif;
  text-align: center;
  padding: .3rem .3rem;
  margin: 5px 0 10px;
  color:#ffffff;
  background: #333;
  border-radius: .2rem;
  letter-spacing: -.075rem

}

.card-container .card p {
  color: #888;
  padding: 0;
  margin: 0;
  font: 400 1.2rem/2.2rem 'Open Sans script=all', sans-serif;
}

h1 {
  color: var(--heading);
  font-size: 4rem;
  font-weight: 600;
}

p {
  color: var(--para);
  line-height: 1;
  font-size: 1.7rem;
}


